<view title="'About HeroChat'">
    <content has-header="true" has-tabs="true" padding="true">
        <img src="img/flat-logo.png" style="text-align: center; width: 100%;">
        <p>
            This is the beginning foray into a HeroChat mobile application.  It's not very good, 
            even by 'beta' standards, at the moment.  Sorry about that.
        </p>

        <p>
            As it stands, it's only really effective at reading the news articles from the 
            homepage.
        </p>
        <p>
            That will, of course, change, but it is what it is, for the moment.
        </p>
        <p>
            Questions? Hit up the 
            <a href="http://herochat.com/forum/" target="_blank">forum</a>.
        </p>
        <p>
            Find a bug? Email the developer, 
            <a href="mailto:barry.melton@gmail.com">barry.melton@gmail.com</a>
        </p>
        <p>
            &copy HeroChat, 2014.
        </p>
    </content>
</view>
