<view title="article.title">
    <content has-header="true" padding="true">
        <h2>{{ article.title }}</h2>
        <div class="list card">
            <div class="item item-image">
                <img src="{{ article.image }}" style="width: 100%;">
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-20">
                        <img src="{{ article.avatar }}" style="max-width: 100%;" />
                    </div>
                    <div class="col">
                        <p>
                            {{ article.user }}<br />
                            {{ article.submit_date }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p>{{ article.description }}</p>
        <hr />
        <p>{{ article.text }}</p>
        <p><a href="{{ article.url }}" target="_new">full article</a> on <a href="{{ article.source }}">{{ article.source }}</a></p>
        <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/articles"> Back to News</a></p>
        <br /><br />
    </content>
</view>
